<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand btn btn-primary" href="{% url 'home:home' %}">social network</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

      {% if request.user.is_authenticated %}

        <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">Home</a>
        <a class="nav-link active" aria-current="page" href="{% url 'account:profile_account' %}">{{ request.user.username}}</a>
        <a class="nav-link active" aria-current="page" href="{% url 'account:profile_account' %}">Profile</a>
        <a class="nav-link active" aria-current="page" href="{% url 'account:logout_account' %}">Logout</a>
      
      {% else %}

        <a class="nav-link active" aria-current="page" href="{% url 'account:register_account' %}">Regsiter</a>
        <a class="nav-link active" aria-current="page" href="{% url 'account:login_account' %}">Login</a>
        {% endif %}
        
      </div>
    </div>
  </div>
</nav>